@import "compass/utilities/lists";
@import "compass/typography/links";
.rMenu{
  position:absolute;
  top:0;
  //float:left;
  visibility:"visible";
  background-color:#555;
  text-align:left;
  padding: 2px;
  
  ul {
   @include no-bullets;
   margin-bottom:0;
   li{
       margin: 1px 0;
       padding: 0 5px;
       cursor: pointer;
       background-color: #DFDFDF;
    }
  }
}
